<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UCSO Invitational 2018.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>607EC204C08198A0A8556562360F6238671F31C2</string>
				<key>dateExpires</key>
				<string>1/2/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5UTCEK94U5.com.bayser.UCSO-Invite-2018</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5UTCEK94U5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>5UTCEK94U5.com.bayser.UCSO-Invite-2018</string>
				</array>
			</dict>
			<key>name</key>
			<string>UCSO Invitational 2018.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e341c4c4-bb23-46f6-993f-dc077b607b64</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.bayser.UCSO-Invite-2018</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5UTCEK94U5</string>
				<key>name</key>
				<string>Bayser</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
